* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    height: 550px;
    position: absolute;
}

.formulario {
    width: 400px;
    position: absolute;
    background-color: white;
    border: 5px solid violet;
    border-radius: 10px;
    padding: 30px 60px;
    top: 290px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.formulario input,label,button {
    display: block;
    width: 100%;
    margin: 5px 0;
}

.formulario input {
    height: 40px;
    border: 2px solid violet;
    border-radius: 10px;
    padding: 0 8px;
}

.placeholder {
    text-align: center;
    
}

.formulario button {
    margin-top: 20px;
    cursor: pointer;
    border: none;
    height: 40px;
    background-color: violet;
    box-shadow: 1px 1px 2px black;
    color: white;
}

.formulario button:hover {
    background-color: violet;
}